/*
 * Consumer Data Standards
 *
 * API sets created by the Australian Consumer Data Standards to meet the needs of the Consumer Data Right
 *
 * OpenAPI spec version: 1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using System.ComponentModel.DataAnnotations;
using ConsumerDataStandards.Attributes;
using ConsumerDataStandards.Models;

namespace ConsumerDataStandards.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class CustomerApiController : Controller
    { 
        /// <summary>
        /// Get Customer
        /// </summary>
        /// <remarks>Obtain basic information on the customer that has authorised the current session</remarks>
        /// <response code="200">Success</response>
        [HttpGet]
        [Route("/cds-au/v1/common/customer")]
        [ValidateModelState]
        [SwaggerOperation("GetCustomer")]
        [SwaggerResponse(statusCode: 200, type: typeof(ResponseCommonCustomer), description: "Success")]
        public virtual IActionResult GetCustomer()
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(ResponseCommonCustomer));

            string exampleJson = null;
            exampleJson = "{\n  \"data\" : {\n    \"person\" : {\n      \"middleNames\" : [ \"middleNames\", \"middleNames\" ],\n      \"firstName\" : \"firstName\",\n      \"lastName\" : \"lastName\",\n      \"occupationCode\" : \"occupationCode\",\n      \"prefix\" : \"prefix\",\n      \"suffix\" : \"suffix\",\n      \"lastUpdateTime\" : \"lastUpdateTime\"\n    },\n    \"organisation\" : {\n      \"agentRole\" : \"agentRole\",\n      \"agentLastName\" : \"agentLastName\",\n      \"establishmentDate\" : \"establishmentDate\",\n      \"businessName\" : \"businessName\",\n      \"registeredCountry\" : \"registeredCountry\",\n      \"abn\" : \"abn\",\n      \"acn\" : \"acn\",\n      \"industryCode\" : \"industryCode\",\n      \"organisationType\" : \"SOLE_TRADER\",\n      \"legalName\" : \"legalName\",\n      \"isACNCRegistered\" : true,\n      \"agentFirstName\" : \"agentFirstName\",\n      \"shortName\" : \"shortName\",\n      \"lastUpdateTime\" : \"lastUpdateTime\"\n    },\n    \"customerUType\" : \"person\"\n  },\n  \"meta\" : { },\n  \"links\" : {\n    \"self\" : \"self\"\n  }\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<ResponseCommonCustomer>(exampleJson)
            : default(ResponseCommonCustomer);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }

        /// <summary>
        /// Get Customer Detail
        /// </summary>
        /// <remarks>Obtain detailed information on the authorised customer within the current session.</remarks>
        /// <response code="200">Success</response>
        [HttpGet]
        [Route("/cds-au/v1/common/customer/detail")]
        [ValidateModelState]
        [SwaggerOperation("GetCustomerDetail")]
        [SwaggerResponse(statusCode: 200, type: typeof(ResponseCommonCustomerDetail), description: "Success")]
        public virtual IActionResult GetCustomerDetail()
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(ResponseCommonCustomerDetail));

            string exampleJson = null;
            exampleJson = "{\n  \"data\" : {\n    \"person\" : \"\",\n    \"organisation\" : \"\",\n    \"customerUType\" : \"person\"\n  },\n  \"meta\" : { },\n  \"links\" : {\n    \"self\" : \"self\"\n  }\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<ResponseCommonCustomerDetail>(exampleJson)
            : default(ResponseCommonCustomerDetail);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }
    }
}
