{
  "swagger" : "2.0",
  "info" : {
    "description" : "API sets created by the Australian Consumer Data Standards to meet the needs of the Consumer Data Right",
    "version" : "1",
    "title" : "Consumer Data Standards",
    "license" : {
      "name" : "MIT Licence",
      "url" : "https://opensource.org/licenses/MIT"
    }
  },
  "host" : "data.provider.com.au",
  "basePath" : "/cds-au/v1",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/banking/accounts" : {
      "get" : {
        "tags" : [ "Banking APIs", "Accounts" ],
        "summary" : "Get Accounts",
        "description" : "Obtain a list of accounts",
        "operationId" : "listAccounts",
        "parameters" : [ {
          "name" : "open-status",
          "in" : "query",
          "description" : "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "OPEN", "CLOSED", "ALL" ]
        }, {
          "name" : "is-owned",
          "in" : "query",
          "description" : "Filters accounts based on whether they are owned by the authorised customer",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "OWNED", "NOT_OWNED", "ALL" ]
        }, {
          "name" : "product-category",
          "in" : "query",
          "description" : "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
          "required" : false,
          "type" : "string",
          "enum" : [ "PERS_AT_CALL_DEPOSITS", "BUS_AT_CALL_DEPOSITS", "TERM_DEPOSITS", "RESIDENTIAL_MORTGAGES", "PERS_CRED_AND_CHRG_CARDS", "BUS_CRED_AND_CHRG_CARDS", "PERS_LOANS", "PERS_LEASING", "BUS_LEASING", "TRADE_FINANCE", "PERS_OVERDRAFT", "BUS_OVERDRAFT", "BUS_LOANS", "FOREIGN_CURR_AT_CALL_DEPOSITS", "FOREIGN_CURR_TERM_DEPOSITS", "FOREIGN_CURR_LOAN", "FOREIGN_CURRRENCT_OVERDRAFT", "TRAVEL_CARD" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingAccountList"
            }
          }
        },
        "x-scopes" : [ "bank_basic_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/{accountId}" : {
      "get" : {
        "tags" : [ "Banking APIs", "Accounts" ],
        "summary" : "Get Account Detail",
        "description" : "Obtain detailed information on a single account",
        "operationId" : "getAccountDetail",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "A tokenised identifier for the account which is unique but not shareable",
          "required" : true,
          "type" : "string",
          "format" : "ASCIIString"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingAccountById"
            }
          }
        },
        "x-scopes" : [ "bank_detailed_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/balances" : {
      "get" : {
        "tags" : [ "Banking APIs", "Accounts" ],
        "summary" : "Get Bulk Balances",
        "description" : "Obtain balances for multiple, filtered accounts",
        "operationId" : "listBalancesBulk",
        "parameters" : [ {
          "name" : "open-status",
          "in" : "query",
          "description" : "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "OPEN", "CLOSED", "ALL" ]
        }, {
          "name" : "is-owned",
          "in" : "query",
          "description" : "Filters accounts based on whether they are owned by the authorised customer",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "OWNED", "NOT_OWNED", "ALL" ]
        }, {
          "name" : "product-category",
          "in" : "query",
          "description" : "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
          "required" : false,
          "type" : "string",
          "enum" : [ "PERS_AT_CALL_DEPOSITS", "BUS_AT_CALL_DEPOSITS", "TERM_DEPOSITS", "RESIDENTIAL_MORTGAGES", "PERS_CRED_AND_CHRG_CARDS", "BUS_CRED_AND_CHRG_CARDS", "PERS_LOANS", "PERS_LEASING", "BUS_LEASING", "TRADE_FINANCE", "PERS_OVERDRAFT", "BUS_OVERDRAFT", "BUS_LOANS", "FOREIGN_CURR_AT_CALL_DEPOSITS", "FOREIGN_CURR_TERM_DEPOSITS", "FOREIGN_CURR_LOAN", "FOREIGN_CURRRENCT_OVERDRAFT", "TRAVEL_CARD" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "resource listing the financial balances for the account",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingAccountsBalanceList"
            }
          }
        },
        "x-scopes" : [ "bank_basic_accounts" ],
        "x-version" : "1"
      },
      "post" : {
        "tags" : [ "Banking APIs", "Accounts" ],
        "summary" : "Get Balances For Specific Accounts",
        "description" : "Obtain balances for a specified list of accounts",
        "operationId" : "listBalancesSpecificAccounts",
        "parameters" : [ {
          "in" : "body",
          "name" : "accountIds",
          "description" : "The list of account IDs to obtain information for",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RequestAccountIds"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingAccountsBalanceList"
            }
          },
          "422" : {
            "description" : "The request was well formed but was unable to be processed due to business logic specific to the request",
            "schema" : {
              "$ref" : "#/definitions/ResponseErrorList"
            }
          }
        },
        "x-scopes" : [ "bank_basic_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/{accountId}/transactions" : {
      "get" : {
        "tags" : [ "Banking APIs", "Accounts" ],
        "summary" : "Get Transactions For Account",
        "description" : "Obtain transactions for a specific account\nSome general notes that apply to all end points that retrieve transactions:\n\n- Where multiple transactions are returned transactions should be ordered according to effective date in descending order\n- As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the provider will use the “effective” date/time which will be defined as:\n\t\t- Posted date/time if available, then\n\t\t- Execution date/time if available, then\n\t\t- A reasonable date/time nominated by the data provider using internal data structures\n- For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account",
        "operationId" : "getTransactions",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "ID of the account to get transactions for.  Must have previously been returned by one of the account list end points.",
          "required" : true,
          "type" : "string",
          "format" : "ASCIIString"
        }, {
          "name" : "start-time",
          "in" : "query",
          "description" : "Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to current time. Format is aligned to DateTimeString common type",
          "required" : false,
          "type" : "string",
          "format" : "DateTimeString"
        }, {
          "name" : "end-time",
          "in" : "query",
          "description" : "Constrain the transaction history request to transactions with effective time at or before this date/time. If absent defaults to start-time plus 100 days. Format is aligned to DateTimeString common type",
          "required" : false,
          "type" : "string",
          "format" : "DateTimeString"
        }, {
          "name" : "min-amount",
          "in" : "query",
          "description" : "Filter transactions to only transactions with amounts higher or equal to than this amount",
          "required" : false,
          "type" : "string",
          "format" : "AmountString"
        }, {
          "name" : "max-amount",
          "in" : "query",
          "description" : "Filter transactions to only transactions with amounts less than or equal to than this amount",
          "required" : false,
          "type" : "string",
          "format" : "AmountString"
        }, {
          "name" : "text",
          "in" : "query",
          "description" : "Filter transactions to only transactions where this string value is found as a substring of either the reference or description fields. Format is arbitrary ASCII string",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingTransactionList"
            }
          }
        },
        "x-scopes" : [ "bank_transactions" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/{accountId}/transactions/{transactionId}" : {
      "get" : {
        "tags" : [ "Banking APIs", "Accounts" ],
        "summary" : "Get Transaction Detail",
        "description" : "Obtain detailed information on a transaction for a specific account",
        "operationId" : "getTransactionDetail",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "The account id token that is used to uniquely represent the account",
          "required" : true,
          "type" : "string",
          "format" : "ASCIIString"
        }, {
          "name" : "transactionId",
          "in" : "path",
          "description" : "The unique identifier for the specific transaction for which details are being requested",
          "required" : true,
          "type" : "string",
          "format" : "ASCIIString"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingTransactionById"
            }
          }
        },
        "x-scopes" : [ "bank_transactions" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/transactions" : {
      "get" : {
        "tags" : [ "Banking APIs", "Accounts" ],
        "summary" : "Get Transactions For Multiple Accounts",
        "description" : "Obtain transactions for multiple, filtered accounts",
        "operationId" : "listTransactionsBulk",
        "parameters" : [ {
          "name" : "open-status",
          "in" : "query",
          "description" : "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "OPEN", "CLOSED", "ALL" ]
        }, {
          "name" : "is-owned",
          "in" : "query",
          "description" : "Filters accounts based on whether they are owned by the authorised customer",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "OWNED", "NOT_OWNED", "ALL" ]
        }, {
          "name" : "product-category",
          "in" : "query",
          "description" : "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
          "required" : false,
          "type" : "string",
          "enum" : [ "PERS_AT_CALL_DEPOSITS", "BUS_AT_CALL_DEPOSITS", "TERM_DEPOSITS", "RESIDENTIAL_MORTGAGES", "PERS_CRED_AND_CHRG_CARDS", "BUS_CRED_AND_CHRG_CARDS", "PERS_LOANS", "PERS_LEASING", "BUS_LEASING", "TRADE_FINANCE", "PERS_OVERDRAFT", "BUS_OVERDRAFT", "BUS_LOANS", "FOREIGN_CURR_AT_CALL_DEPOSITS", "FOREIGN_CURR_TERM_DEPOSITS", "FOREIGN_CURR_LOAN", "FOREIGN_CURRRENCT_OVERDRAFT", "TRAVEL_CARD" ]
        }, {
          "name" : "start-time",
          "in" : "query",
          "description" : "Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to current time. Format is aligned to DateTimeString common type",
          "required" : false,
          "type" : "string",
          "format" : "DateTimeString"
        }, {
          "name" : "end-time",
          "in" : "query",
          "description" : "Constrain the transaction history request to transactions with effective time at or before this date/time. If absent defaults to start-time plus 100 days. Format is aligned to DateTimeString common type",
          "required" : false,
          "type" : "string",
          "format" : "DateTimeString"
        }, {
          "name" : "min-amount",
          "in" : "query",
          "description" : "Filter transactions to only transactions with amounts higher or equal to than this amount",
          "required" : false,
          "type" : "string",
          "format" : "AmountString"
        }, {
          "name" : "max-amount",
          "in" : "query",
          "description" : "Filter transactions to only transactions with amounts less than or equal to than this amount",
          "required" : false,
          "type" : "string",
          "format" : "AmountString"
        }, {
          "name" : "text",
          "in" : "query",
          "description" : "Filter transactions to only transactions where this string value is found as a substring of either the reference or description fields. Format is arbitrary ASCII string",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingTransactionList"
            }
          }
        },
        "x-scopes" : [ "bank_transactions" ],
        "x-version" : "1"
      },
      "post" : {
        "tags" : [ "Banking APIs", "Accounts" ],
        "summary" : "Get Transactions For Specific Accounts",
        "description" : "Obtain transactions for a specified list of transactions.",
        "operationId" : "listTransactionsSpecificAccounts",
        "parameters" : [ {
          "name" : "start-time",
          "in" : "query",
          "description" : "Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to current time. Format is aligned to DateTimeString common type",
          "required" : false,
          "type" : "string",
          "format" : "DateTimeString"
        }, {
          "name" : "end-time",
          "in" : "query",
          "description" : "Constrain the transaction history request to transactions with effective time at or before this date/time. If absent defaults to start-time plus 100 days. Format is aligned to DateTimeString common type",
          "required" : false,
          "type" : "string",
          "format" : "DateTimeString"
        }, {
          "name" : "min-amount",
          "in" : "query",
          "description" : "Filter transactions to only transactions with amounts higher or equal to than this amount",
          "required" : false,
          "type" : "string",
          "format" : "AmountString"
        }, {
          "name" : "max-amount",
          "in" : "query",
          "description" : "Filter transactions to only transactions with amounts less than or equal to than this amount",
          "required" : false,
          "type" : "string",
          "format" : "AmountString"
        }, {
          "name" : "text",
          "in" : "query",
          "description" : "Filter transactions to only transactions where this string value is found as a substring of either the reference or description fields. Format is arbitrary ASCII string",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        }, {
          "in" : "body",
          "name" : "accountIds",
          "description" : "The list of account IDs to obtain information for",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RequestAccountIds"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingTransactionList"
            }
          },
          "422" : {
            "description" : "The request was well formed but was unable to be processed due to business logic specific to the request",
            "schema" : {
              "$ref" : "#/definitions/ResponseErrorList"
            }
          }
        },
        "x-scopes" : [ "bank_transactions" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/{accountId}/direct-debits" : {
      "get" : {
        "tags" : [ "Banking APIs", "Direct Debits" ],
        "summary" : "Get Direct Debits For Account",
        "description" : "Obtain direct debit authorisations for a specific account",
        "operationId" : "listDirectDebits",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "ID of the account to get direct debit authorisations for.  Must have previously been returned by one of the account list end points.",
          "required" : true,
          "type" : "string",
          "format" : "ASCIIString"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingDirectDebitAuthorisationList"
            }
          }
        },
        "x-scopes" : [ "bank_detailed_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/accounts/direct-debits" : {
      "get" : {
        "tags" : [ "Banking APIs", "Direct Debits" ],
        "summary" : "Get Bulk Direct Debits",
        "description" : "Obtain direct debit authorisations for multiple, filtered accounts",
        "operationId" : "listDirectDebitsBulk",
        "parameters" : [ {
          "name" : "is-owned",
          "in" : "query",
          "description" : "Filters accounts based on whether they are owned by the authorised customer",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "OWNED", "NOT_OWNED", "ALL" ]
        }, {
          "name" : "product-category",
          "in" : "query",
          "description" : "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
          "required" : false,
          "type" : "string",
          "enum" : [ "PERS_AT_CALL_DEPOSITS", "BUS_AT_CALL_DEPOSITS", "TERM_DEPOSITS", "RESIDENTIAL_MORTGAGES", "PERS_CRED_AND_CHRG_CARDS", "BUS_CRED_AND_CHRG_CARDS", "PERS_LOANS", "PERS_LEASING", "BUS_LEASING", "TRADE_FINANCE", "PERS_OVERDRAFT", "BUS_OVERDRAFT", "BUS_LOANS", "FOREIGN_CURR_AT_CALL_DEPOSITS", "FOREIGN_CURR_TERM_DEPOSITS", "FOREIGN_CURR_LOAN", "FOREIGN_CURRRENCT_OVERDRAFT", "TRAVEL_CARD" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingDirectDebitAuthorisationList"
            }
          }
        },
        "x-scopes" : [ "bank_detailed_accounts" ],
        "x-version" : "1"
      },
      "post" : {
        "tags" : [ "Banking APIs", "Direct Debits" ],
        "summary" : "Get Direct Debits For Specific Accounts",
        "description" : "Obtain direct debit authorisations for a specified list of accounts",
        "operationId" : "listDirectDebitsSpecificAccounts",
        "parameters" : [ {
          "in" : "body",
          "name" : "accountIds",
          "description" : "The list of account IDs to obtain information for",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/RequestAccountIds"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingDirectDebitAuthorisationList"
            }
          },
          "422" : {
            "description" : "The request was well formed but was unable to be processed due to business logic specific to the request",
            "schema" : {
              "$ref" : "#/definitions/ResponseErrorList"
            }
          }
        },
        "x-scopes" : [ "bank_detailed_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/payees" : {
      "get" : {
        "tags" : [ "Banking APIs", "Payees" ],
        "summary" : "Get Payees",
        "description" : "Obtain a list of pre-registered payees",
        "operationId" : "listPayees",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Filter on the payee type field.  In addition to normal type field values, ALL can be specified to retrieve all payees.  If absent the assumed value is ALL",
          "required" : false,
          "type" : "string",
          "default" : "ALL",
          "enum" : [ "DOMESTIC", "INTERNATIONAL", "BILLER", "ALL" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingPayeeList"
            }
          }
        },
        "x-scopes" : [ "bank_basic_accounts" ],
        "x-version" : "1"
      }
    },
    "/banking/payees/{payeeId}" : {
      "get" : {
        "tags" : [ "Banking APIs", "Payees" ],
        "summary" : "Get Payee Detail",
        "description" : "Obtain detailed information on a single payee",
        "operationId" : "getPayeeDetail",
        "parameters" : [ {
          "name" : "payeeId",
          "in" : "path",
          "description" : "The ID used to locate the details of a particular payee",
          "required" : true,
          "type" : "string",
          "format" : "ASCIIString"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingPayeeById"
            }
          }
        },
        "x-scopes" : [ "bank_payees" ],
        "x-version" : "1"
      }
    },
    "/banking/products" : {
      "get" : {
        "tags" : [ "Banking APIs", "Products" ],
        "summary" : "Get Products",
        "description" : "Obtain a list of products that are currently openly offered to the market\n\nNote that the results returned by this end point are expected to be ordered according to updated-since\n\n### Conventions\nIn the product reference payloads there are a number of recurring conventions that are explained here, in one place.\n\n#### Arrays Of Features\n\nIn the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:\n\n- Each element in an array has the same structure so that clients can reliably interpret the payloads\n- Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.\n- Each element has a field name additionalValue. This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.\n- An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.\n- An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.\n\n#### URIs To More Information\n\nAs the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product provider to describe the product more fully using a web page hosted on their on channels.\n\nThese URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.\n\n#### Linkage To Accounts\nFrom the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge. Rates and features of the product may change and a discount may be negotiated for the account.\n\nFor this reason productCategory is a common field between accounts and products but there is not common linkage field specific to a product that appears within the account payloads.\n\nSimilarly, many of the fields and objects in the product payload will appear in the account detail payload but the full sets of options are not identical between the two entities.\n\n#### Dates\nIt is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank. To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included. A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained.\n\nIn addition the concept of effective date and time has also been included. This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed. The inclusion of these dates also removes the need to represent deleted products in the payload. Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.",
        "operationId" : "listProducts",
        "parameters" : [ {
          "name" : "effective",
          "in" : "query",
          "description" : "Allows for the filtering of products based on whether the current time is within the period of time defined as effective by the effectiveFrom and effectiveTo fields.  If absent defaults to 'CURRENT'",
          "required" : false,
          "type" : "string",
          "default" : "CURRENT",
          "enum" : [ "CURRENT", "FUTURE", "ALL" ]
        }, {
          "name" : "updated-since",
          "in" : "query",
          "description" : "Only include products that have been updated after the specified date and time. If absent defaults to include all products",
          "required" : false,
          "type" : "string",
          "format" : "DateTimeString"
        }, {
          "name" : "brand",
          "in" : "query",
          "description" : "Filter results based on a specific brand",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "product-category",
          "in" : "query",
          "description" : "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
          "required" : false,
          "type" : "string",
          "enum" : [ "PERS_AT_CALL_DEPOSITS", "BUS_AT_CALL_DEPOSITS", "TERM_DEPOSITS", "RESIDENTIAL_MORTGAGES", "PERS_CRED_AND_CHRG_CARDS", "BUS_CRED_AND_CHRG_CARDS", "PERS_LOANS", "PERS_LEASING", "BUS_LEASING", "TRADE_FINANCE", "PERS_OVERDRAFT", "BUS_OVERDRAFT", "BUS_LOANS", "FOREIGN_CURR_AT_CALL_DEPOSITS", "FOREIGN_CURR_TERM_DEPOSITS", "FOREIGN_CURR_LOAN", "FOREIGN_CURRRENCT_OVERDRAFT", "TRAVEL_CARD" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to request (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 1
        }, {
          "name" : "page-size",
          "in" : "query",
          "description" : "Page size to request. Default is 25 (standard pagination)",
          "required" : false,
          "type" : "integer",
          "default" : 25
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingProductList"
            }
          }
        },
        "x-scopes" : [ ],
        "x-version" : "1"
      }
    },
    "/banking/products/{productId}" : {
      "get" : {
        "tags" : [ "Banking APIs", "Products" ],
        "summary" : "Get Product Detail",
        "description" : "Obtain detailed information on a single product offered openly to the market",
        "operationId" : "getProductDetail",
        "parameters" : [ {
          "name" : "productId",
          "in" : "path",
          "description" : "ID of the specific product requested",
          "required" : true,
          "type" : "string",
          "format" : "ASCIIString"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseBankingProductById"
            }
          }
        },
        "x-scopes" : [ ],
        "x-version" : "1"
      }
    },
    "/common/customer" : {
      "get" : {
        "tags" : [ "Common APIs", "Customer" ],
        "summary" : "Get Customer",
        "description" : "Obtain basic information on the customer that has authorised the current session",
        "operationId" : "getCustomer",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseCommonCustomer"
            }
          }
        },
        "x-scopes" : [ "common_basic_customer" ],
        "x-version" : "1"
      }
    },
    "/common/customer/detail" : {
      "get" : {
        "tags" : [ "Common APIs", "Customer" ],
        "summary" : "Get Customer Detail",
        "description" : "Obtain detailed information on the authorised customer within the current session.",
        "operationId" : "getCustomerDetail",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ResponseCommonCustomerDetail"
            }
          }
        },
        "x-scopes" : [ "common_detailed_customer" ],
        "x-version" : "1"
      }
    }
  },
  "definitions" : {
    "RequestAccountIds" : {
      "type" : "object",
      "required" : [ "data", "meta" ],
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/RequestAccountIds_data"
        },
        "meta" : {
          "$ref" : "#/definitions/Meta"
        }
      },
      "example" : {
        "data" : {
          "accountIds" : [ "accountIds", "accountIds" ]
        },
        "meta" : { }
      }
    },
    "ResponseBankingProductList" : {
      "type" : "object",
      "required" : [ "data", "links", "meta" ],
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/ResponseBankingProductList_data"
        },
        "links" : {
          "$ref" : "#/definitions/LinksPaginated"
        },
        "meta" : {
          "$ref" : "#/definitions/MetaPaginated"
        }
      },
      "example" : {
        "data" : {
          "products" : [ {
            "effectiveTo" : "effectiveTo",
            "lastUpdated" : "lastUpdated",
            "additionalInformation" : {
              "eligibilityUri" : "eligibilityUri",
              "bundleUri" : "bundleUri",
              "feesAndPricingUri" : "feesAndPricingUri",
              "termsUri" : "termsUri",
              "overviewUri" : "overviewUri"
            },
            "brandName" : "brandName",
            "isTailored" : true,
            "productId" : "productId",
            "name" : "name",
            "description" : "description",
            "applicationUri" : "applicationUri",
            "effectiveFrom" : "effectiveFrom",
            "brand" : "brand",
            "productCategory" : { }
          }, {
            "effectiveTo" : "effectiveTo",
            "lastUpdated" : "lastUpdated",
            "additionalInformation" : {
              "eligibilityUri" : "eligibilityUri",
              "bundleUri" : "bundleUri",
              "feesAndPricingUri" : "feesAndPricingUri",
              "termsUri" : "termsUri",
              "overviewUri" : "overviewUri"
            },
            "brandName" : "brandName",
            "isTailored" : true,
            "productId" : "productId",
            "name" : "name",
            "description" : "description",
            "applicationUri" : "applicationUri",
            "effectiveFrom" : "effectiveFrom",
            "brand" : "brand",
            "productCategory" : { }
          } ]
        },
        "meta" : {
          "totalRecords" : 0,
          "totalPages" : 6
        },
        "links" : {
          "next" : "next",
          "last" : "last",
          "prev" : "prev",
          "self" : "self",
          "first" : "first"
        }
      }
    },
    "BankingProduct" : {
      "type" : "object",
      "required" : [ "brand", "description", "isTailored", "lastUpdated", "name", "productCategory", "productId" ],
      "properties" : {
        "productId" : {
          "type" : "string",
          "format" : "ASCIIString",
          "description" : "A provider specific unique identifier for this product. This identifier must be unique to a product but does not otherwise need to adhere to ID permanence guidelines."
        },
        "effectiveFrom" : {
          "type" : "string",
          "format" : "DateTimeString",
          "description" : "The date and time from which this product is effective (ie. is available for origination).  Used to enable the articulation of products to the regime before they are available for customers to originate"
        },
        "effectiveTo" : {
          "type" : "string",
          "format" : "DateTimeString",
          "description" : "The date and time at which this product will be retired and will no longer be offered.  Used to enable the managed deprecation of products"
        },
        "lastUpdated" : {
          "type" : "string",
          "format" : "DateTimeString",
          "description" : "The last date and time that the information for this product was changed (or the creation date for the product if it has never been altered)"
        },
        "productCategory" : {
          "$ref" : "#/definitions/BankingEnumProductCategory"
        },
        "name" : {
          "type" : "string",
          "description" : "The display name of the product"
        },
        "description" : {
          "type" : "string",
          "description" : "A description of the product"
        },
        "brand" : {
          "type" : "string",
          "description" : "A label of the brand for the product. Able to be used for filtering. For data providers with single brands this value is still required"
        },
        "brandName" : {
          "type" : "string",
          "description" : "An optional display name of the brand"
        },
        "applicationUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "A link to the an application web page where this product can be applied for."
        },
        "isTailored" : {
          "type" : "boolean",
          "description" : "Indicates whether the product is specifically tailored to a circumstance.  In this case fees and prices are significantly negotiated depending on context. While all products are open to a degree of tailoring this flag indicates that tailoring is expected and thus that the provision of specific fees and rates is not applicable"
        },
        "additionalInformation" : {
          "$ref" : "#/definitions/BankingProduct_additionalInformation"
        }
      },
      "example" : {
        "effectiveTo" : "effectiveTo",
        "lastUpdated" : "lastUpdated",
        "additionalInformation" : {
          "eligibilityUri" : "eligibilityUri",
          "bundleUri" : "bundleUri",
          "feesAndPricingUri" : "feesAndPricingUri",
          "termsUri" : "termsUri",
          "overviewUri" : "overviewUri"
        },
        "brandName" : "brandName",
        "isTailored" : true,
        "productId" : "productId",
        "name" : "name",
        "description" : "description",
        "applicationUri" : "applicationUri",
        "effectiveFrom" : "effectiveFrom",
        "brand" : "brand",
        "productCategory" : { }
      }
    },
    "ResponseBankingProductById" : {
      "type" : "object",
      "required" : [ "data", "links", "meta" ],
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/BankingProductDetail"
        },
        "links" : {
          "$ref" : "#/definitions/Links"
        },
        "meta" : {
          "$ref" : "#/definitions/Meta"
        }
      },
      "example" : {
        "data" : "",
        "meta" : { },
        "links" : {
          "self" : "self"
        }
      }
    },
    "BankingProductDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BankingProduct"
      }, {
        "type" : "object",
        "properties" : {
          "bundles" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingProductBundle"
            }
          },
          "features" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingProductFeature"
            }
          },
          "constraints" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingProductConstraint"
            }
          },
          "eligibility" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingProductEligibility"
            }
          },
          "fees" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingProductFee"
            }
          },
          "depositRates" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingProductDepositRate"
            }
          },
          "lendingRates" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingProductLendingRate"
            }
          }
        }
      } ]
    },
    "BankingProductBundle" : {
      "type" : "object",
      "required" : [ "description", "name", "productIds" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the bundle"
        },
        "description" : {
          "type" : "string",
          "description" : "Description of the bundle"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on the bundle criteria and benefits"
        },
        "productIds" : {
          "type" : "array",
          "description" : "Array of product IDs for products included in the bundle",
          "items" : {
            "type" : "string",
            "format" : "ASCIIString"
          }
        }
      }
    },
    "BankingProductFeature" : {
      "type" : "object",
      "required" : [ "featureType" ],
      "properties" : {
        "featureType" : {
          "type" : "string",
          "description" : "The type of feature described",
          "enum" : [ "CARD_ACCESS", "ADDITIONAL_CARDS", "UNLIMITED_TXNS", "FREE_TXNS", "FREE_TXNS_ALLOWANCE", "LOYALTY_PROGRAM", "OFFSET", "OVERDRAFT", "REDRAW", "INSURANCE", "BALANCE_TRANSFERS", "INTEREST_FREE", "INTEREST_FREE_TRANSFERS", "DIGITAL_WALLET", "DIGITAL_BANKING", "NPP_PAYID", "NPP_ENABLED", "DONATE_INTEREST", "BILL_PAYMENT" ]
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the featureType specified. Whether mandatory or not is dependent on the value of featureType"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductConstraint" : {
      "type" : "object",
      "required" : [ "constraintType" ],
      "properties" : {
        "constraintType" : {
          "type" : "string",
          "description" : "The type of constraint described.  See the next section for an overview of valid values and their meaning",
          "enum" : [ "MIN_BALANCE", "OPENING_BALANCE", "MAX_LIMIT", "MIN_LIMIT" ]
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the constraintType specified.  Whether mandatory or not is dependent on the value of constraintType"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductEligibility" : {
      "type" : "object",
      "required" : [ "eligibilityType" ],
      "properties" : {
        "eligibilityType" : {
          "type" : "string",
          "description" : "The type of eligibility criteria described.  See the next section for an overview of valid values and their meaning",
          "enum" : [ "BUSINESS", "PENSION_RECIPIENT", "MIN_AGE", "MAX_AGE", "MIN_INCOME", "MIN_TURNOVER", "STAFF", "STUDENT", "EMPLOYMENT_STATUS", "RESIDENCY_STATUS", "OTHER" ]
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the eligibilityType specified.  Whether mandatory or not is dependent on the value of eligibilityType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the eligibility criteria. Mandatory if the eligibilityType field is set to OTHER"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this eligibility criteria"
        }
      },
      "x-conditional" : [ "additionalValue", "additionalInfo" ]
    },
    "BankingProductFee" : {
      "type" : "object",
      "required" : [ "feeType", "name" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the fee"
        },
        "feeType" : {
          "type" : "string",
          "description" : "The type of fee",
          "enum" : [ "PERIODIC", "WITHDRAWAL", "DEPOSIT", "PAYMENT", "PURCHASE", "EVENT", "UPFRONT", "EXIT" ]
        },
        "amount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "The amount charged for the fee. Assumed to be in AUD. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "balanceRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A fee rate calculated based on a proportion of the balance. Assumed to be in AUD. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "transactionRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A fee rate calculated based on a proportion of a transaction. Assumed to be in AUD. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "accruedRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A fee rate calculated based on a proportion of the calculated interest accrued on the account. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "accrualFrequency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "The indicative frequency with which the fee is calculated on the account. Only applies if balanceRate or accruedRate is also present. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "currency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "The currency the fee will be charged in. Assumes AUD if absent"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the feeType specified. Whether mandatory or not is dependent on the value of feeType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this fee"
        },
        "discounts" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BankingProductDiscount"
          }
        }
      },
      "x-conditional" : [ "additionalValue", "amount", "balanceRate", "transactionRate", "accruedRate" ]
    },
    "BankingProductDiscount" : {
      "type" : "object",
      "required" : [ "description", "discountType" ],
      "properties" : {
        "description" : {
          "type" : "string",
          "description" : "Description of the discount"
        },
        "discountType" : {
          "type" : "string",
          "description" : "The type of discount. See the next section for an overview of valid values and their meaning",
          "enum" : [ "BALANCE", "DEPOSITS", "PAYMENTS", "FEE_CAP", "ELIGIBILITY_ONLY" ]
        },
        "amount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "Value of the discount. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "balanceRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A discount rate calculated based on a proportion of the balance. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "transactionRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A discount rate calculated based on a proportion of atransaction. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "accruedRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A discount rate calculated based on a proportion of the calculated interest accrued on the account. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the discountType specified. Whether mandatory or not is dependent on the value of discountType"
        },
        "eligibility" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BankingProductDiscountEligibility"
          }
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the discount"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this discount"
        }
      },
      "x-conditional" : [ "amount", "balanceRate", "transactionRate", "accruedRate", "additionalValue" ]
    },
    "BankingProductDiscountEligibility" : {
      "type" : "object",
      "required" : [ "discountEligibilityType" ],
      "properties" : {
        "discountEligibilityType" : {
          "type" : "string",
          "description" : "The type of the specific eligibility constraint for a discount",
          "enum" : [ "PENSION_RECIPIENT", "MIN_AGE", "MAX_AGE", "STAFF", "STUDENT", "EMPLOYMENT_STATUS", "RESIDENCY_STATUS", "OTHER" ]
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the discountEligibilityType specified. Whether mandatory or not is dependent on the value of discountEligibilityType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on this eligibility constraint"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this eligibility constraint"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductDepositRate" : {
      "type" : "object",
      "required" : [ "depositRateType", "rate" ],
      "properties" : {
        "depositRateType" : {
          "type" : "string",
          "description" : "The type of rate (base, bonus, etc). See the next section for an overview of valid values and their meaning",
          "enum" : [ "FIXED", "BONUS", "BUNDLE_BONUS", "VARIABLE", "INTRODUCTORY" ]
        },
        "rate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "The rate to be applied"
        },
        "calculationFrequency" : {
          "type" : "string",
          "description" : "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "applicationFrequency" : {
          "type" : "string",
          "description" : "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "tier" : {
          "$ref" : "#/definitions/BankingProductRateTier"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the depositRateType specified. Whether mandatory or not is dependent on the value of depositRateType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this fee"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductLendingRate" : {
      "type" : "object",
      "required" : [ "lendingRateType", "rate" ],
      "properties" : {
        "lendingRateType" : {
          "type" : "string",
          "description" : "The type of rate (fixed, variable, etc). See the next section for an overview of valid values and their meaning",
          "enum" : [ "FIXED", "VARIABLE", "INTRODUCTORY", "DISCOUNT", "PENALTY", "FLOATING", "MARKET_LINKED", "CASH_ADVANCE", "BUNDLE_DISCOUNT_FIXED", "BUNDLE_DISCOUNT_VARIABLE", "COMPARISON_FIXED", "COMPARISON_VARIABLE" ]
        },
        "rate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "The rate to be applied"
        },
        "calculationFrequency" : {
          "type" : "string",
          "description" : "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "applicationFrequency" : {
          "type" : "string",
          "description" : "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "paymentStructureType" : {
          "type" : "string",
          "description" : "When loan payments are due to be paid within each period. The investment benefit of earlier payments affect the rate that can be offered",
          "enum" : [ "IN_ARREARS", "IN_ADVANCE" ]
        },
        "tier" : {
          "$ref" : "#/definitions/BankingProductRateTier"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Information relevant to the lendingRateType specified.  Whether mandatory or not is dependent on the Generic field containing additional information relevant to the lendingRateType specified. Whether mandatory or not is dependent on the value of lendingRateType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee."
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information  on this fee"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingProductRateTier" : {
      "type" : "object",
      "required" : [ "maximumValue", "minimumValue", "name", "unitOfMeasure" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "A display name for the tier"
        },
        "unitOfMeasure" : {
          "type" : "string",
          "description" : "The unit of measure that applies to the tierValueMinimum and tierValueMaximum values e.g. 'DOLLAR', 'MONTH' (in the case of term deposit tiers), 'PERCENT' (in the case of loan-to-value ratio or LVR)",
          "enum" : [ "DOLLAR", "PERCENT", "MONTH", "DAY" ]
        },
        "minimumValue" : {
          "type" : "number",
          "description" : "The number of tierUnitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value"
        },
        "maximumValue" : {
          "type" : "number",
          "description" : "The number of tierUnitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as tierValueMinimum. Where this is the same as the tierValueMinimum value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 – 2 months, 2 – 3 months)"
        },
        "rateApplicationMethod" : {
          "type" : "string",
          "description" : "The method used to calculate the amount to be applied using one or more tiers. A single rate may be applied to the entire balance or each applicable tier rate is applied to the portion of the balance that falls into that tier (referred to as 'bands' or 'steps')",
          "enum" : [ "WHOLE_BALANCE", "PER_TIER" ]
        },
        "applicabilityConditions" : {
          "type" : "array",
          "description" : "Other conditions required to be met for this rate to apply",
          "items" : {
            "$ref" : "#/definitions/BankingProductRateCondition"
          }
        },
        "subTier" : {
          "$ref" : "#/definitions/BankingProductRateTier_subTier"
        }
      },
      "description" : "Defines the criteria and conditions for which a rate applies"
    },
    "BankingProductRateCondition" : {
      "type" : "object",
      "properties" : {
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the rate condition"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information  on this rate condition"
        }
      },
      "description" : "Defines a condition for the applicability of a tiered rate"
    },
    "ResponseBankingAccountList" : {
      "type" : "object",
      "required" : [ "data", "links", "meta" ],
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/ResponseBankingAccountList_data"
        },
        "links" : {
          "$ref" : "#/definitions/LinksPaginated"
        },
        "meta" : {
          "$ref" : "#/definitions/MetaPaginated"
        }
      },
      "example" : {
        "data" : {
          "accounts" : [ {
            "accountId" : "accountId",
            "maskedNumber" : "maskedNumber",
            "openStatus" : "OPEN",
            "displayName" : "displayName",
            "isOwned" : true,
            "nickname" : "nickname",
            "productName" : "productName",
            "productCategory" : { }
          }, {
            "accountId" : "accountId",
            "maskedNumber" : "maskedNumber",
            "openStatus" : "OPEN",
            "displayName" : "displayName",
            "isOwned" : true,
            "nickname" : "nickname",
            "productName" : "productName",
            "productCategory" : { }
          } ]
        },
        "meta" : {
          "totalRecords" : 0,
          "totalPages" : 6
        },
        "links" : {
          "next" : "next",
          "last" : "last",
          "prev" : "prev",
          "self" : "self",
          "first" : "first"
        }
      }
    },
    "BankingAccount" : {
      "type" : "object",
      "required" : [ "accountId", "displayName", "maskedNumber", "productCategory", "productName" ],
      "properties" : {
        "accountId" : {
          "type" : "string",
          "format" : "ASCIIString",
          "description" : "A unique ID of the account adhering to the standards for ID permanence"
        },
        "displayName" : {
          "type" : "string",
          "description" : "The display name of the account. If a customer provided nickname is available that value should be returned"
        },
        "nickname" : {
          "type" : "string",
          "description" : "A customer supplied nick name for the account"
        },
        "maskedNumber" : {
          "type" : "string",
          "format" : "MaskedAccountString",
          "description" : "A masked version of the account. Whether BSB/Account Number, Credit Card PAN or another number this should be formatted with each digit masked and the last three digits unmasked"
        },
        "openStatus" : {
          "type" : "string",
          "description" : "Open or closed status for the account.  If not present then OPEN is assumed",
          "default" : "OPEN",
          "enum" : [ "OPEN", "CLOSED" ]
        },
        "isOwned" : {
          "type" : "boolean",
          "description" : "Flag indicating that the customer associated with the authorisation is an owner of the account.  Does not indicate sole ownership, however.  If no present then 'true' is assumed",
          "default" : true
        },
        "productCategory" : {
          "$ref" : "#/definitions/BankingEnumProductCategory"
        },
        "productName" : {
          "type" : "string",
          "description" : "A unique name or identifier for the account class for this account as defined by the account provider.  Not expected to be used for display"
        }
      },
      "example" : {
        "accountId" : "accountId",
        "maskedNumber" : "maskedNumber",
        "openStatus" : "OPEN",
        "displayName" : "displayName",
        "isOwned" : true,
        "nickname" : "nickname",
        "productName" : "productName",
        "productCategory" : { }
      },
      "x-conditional" : [ "deposit", "lending", "purses" ]
    },
    "ResponseBankingAccountById" : {
      "type" : "object",
      "required" : [ "data", "links", "meta" ],
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/BankingAccountDetail"
        },
        "links" : {
          "$ref" : "#/definitions/Links"
        },
        "meta" : {
          "$ref" : "#/definitions/Meta"
        }
      },
      "example" : {
        "data" : "",
        "meta" : { },
        "links" : {
          "self" : "self"
        }
      }
    },
    "BankingAccountDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BankingAccount"
      }, {
        "type" : "object",
        "properties" : {
          "bsb" : {
            "type" : "string",
            "description" : "The unmasked BSB for the account.  Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces"
          },
          "accountNumber" : {
            "type" : "string",
            "description" : "The unmasked account number for the account.  Should not be supplied if the account number is a PAN requiring PCI compliance. Is expected to be formatted as digits only with leading zeros included and no punctuation or spaces"
          },
          "bundleName" : {
            "type" : "string",
            "description" : "Optional field to indicate if this account is part of a bundle that is providing additional benefit for to the customer"
          },
          "specificAccountUType" : {
            "type" : "string",
            "description" : "The type of structure to present account specific fields.",
            "enum" : [ "termDeposit", "creditCard", "loan" ]
          },
          "termDeposit" : {
            "$ref" : "#/definitions/BankingTermDepositAccount"
          },
          "creditCard" : {
            "$ref" : "#/definitions/BankingCreditCardAccount"
          },
          "loan" : {
            "$ref" : "#/definitions/BankingLoanAccount"
          },
          "features" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingAccountFeature"
            }
          },
          "fees" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingAccountFee"
            }
          },
          "depositRates" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingAccountDepositRate"
            }
          },
          "lendingRates" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/BankingAccountLendingRate"
            }
          },
          "address" : {
            "$ref" : "#/definitions/CommonPhysicalAddress"
          }
        },
        "x-conditional" : [ "termDeposit", "creditCard", "loan" ]
      } ]
    },
    "BankingTermDepositAccount" : {
      "type" : "object",
      "required" : [ "lodgementDate", "maturityDate", "maturityInstructions" ],
      "properties" : {
        "lodgementDate" : {
          "type" : "string",
          "format" : "DateString",
          "description" : "The lodgement date of the original deposit"
        },
        "maturityDate" : {
          "type" : "string",
          "format" : "DateString",
          "description" : "Maturity date for the term deposit"
        },
        "maturityAmount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "Amount to be paid upon maturity. If absent it implies the amount to paid is variable and cannot currently be calculated"
        },
        "maturityCurrency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "If absent assumes AUD"
        },
        "maturityInstructions" : {
          "type" : "string",
          "description" : "Current instructions on action to be taken at maturity",
          "enum" : [ "ROLLED_OVER", "PAID_OUT_AT_MATURITY" ]
        }
      }
    },
    "BankingCreditCardAccount" : {
      "type" : "object",
      "required" : [ "minPaymentAmount", "paymentDueAmount", "paymentDueDate" ],
      "properties" : {
        "minPaymentAmount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "The minimum payment amount due for the next card payment"
        },
        "paymentDueAmount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "The amount due for the next card payment"
        },
        "paymentCurrency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "If absent assumes AUD"
        },
        "paymentDueDate" : {
          "type" : "string",
          "format" : "DateString",
          "description" : "Date that the next payment for the card is due"
        }
      }
    },
    "BankingLoanAccount" : {
      "type" : "object",
      "properties" : {
        "originalStartDate" : {
          "type" : "string",
          "format" : "DateString",
          "description" : "Optional original start date for the loan"
        },
        "originalLoanAmount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "Optional original loan value"
        },
        "originalLoanCurrency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "If absent assumes AUD"
        },
        "loanEndDate" : {
          "type" : "string",
          "format" : "DateString",
          "description" : "Date that the loan is due to be repaid in full"
        },
        "nextInstalmentDate" : {
          "type" : "string",
          "format" : "DateString",
          "description" : "Next date that an instalment is required"
        },
        "minInstalmentAmount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "Minimum amount of next instalment"
        },
        "minInstalmentCurrency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "If absent assumes AUD"
        },
        "maxRedraw" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "Maximum amount of funds that can be redrawn. If not present redraw is not available even if the feature exists for the account"
        },
        "maxRedrawCurrency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "If absent assumes AUD"
        },
        "minRedraw" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "Minimum redraw amount"
        },
        "minRedrawCurrency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "If absent assumes AUD"
        },
        "offsetAccountEnabled" : {
          "type" : "boolean",
          "description" : "Set to true if one or more offset accounts are configured for this loan account"
        },
        "offsetAccountIds" : {
          "type" : "array",
          "description" : "The accountIDs of the configured offset accounts attached to this loan. Only offset accounts that can be accesses under the current authorisation should be included. It is expected behaviour that offsetAccountEnabled is set to true but the offsetAccountIds field is absent or empty. This represents a situation where an offset account exists but details can not be accessed under the current authorisation",
          "items" : {
            "type" : "string",
            "format" : "ASCIIString"
          }
        },
        "repaymentFrequency" : {
          "type" : "string",
          "description" : "The expected or required repayment frequency. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "repaymentType" : {
          "type" : "string",
          "description" : "The reason for taking out the loan. The purpose generally affects the rate offered due to different risk profiles"
        },
        "loanPurpose" : {
          "type" : "string",
          "description" : "Options in place for repayments. If absent defaults to PRINCIPAL_AND_INTEREST",
          "enum" : [ "INTEREST_ONLY", "PRINCIPAL_AND_INTEREST" ]
        }
      }
    },
    "BankingAccountFeature" : {
      "type" : "object",
      "required" : [ "featureType" ],
      "properties" : {
        "featureType" : {
          "type" : "string",
          "description" : "The type of feature described",
          "enum" : [ "CARD_ACCESS", "ADDITIONAL_CARDS", "UNLIMITED_TXNS", "FREE_TXNS", "FREE_TXNS_ALLOWANCE", "LOYALTY_PROGRAM", "OFFSET", "OVERDRAFT", "REDRAW", "INSURANCE", "BALANCE_TRANSFERS", "INTEREST_FREE", "INTEREST_FREE_TRANSFERS", "DIGITAL_WALLET", "DIGITAL_BANKING", "NPP_PAYID", "NPP_ENABLED", "DONATE_INTEREST", "BILL_PAYMENT" ]
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the featureType specified. Whether mandatory or not is dependent on the value of featureType"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingAccountFee" : {
      "type" : "object",
      "required" : [ "feeType", "name" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "Name of the fee"
        },
        "feeType" : {
          "type" : "string",
          "description" : "The type of fee",
          "enum" : [ "PERIODIC", "WITHDRAWAL", "DEPOSIT", "PAYMENT", "PURCHASE", "EVENT", "UPFRONT", "EXIT" ]
        },
        "amount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "The amount charged for the fee. Assumed to be in AUD. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "balanceRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A fee rate calculated based on a proportion of the balance. Assumed to be in AUD. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "transactionRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A fee rate calculated based on a proportion of a transaction. Assumed to be in AUD. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "accruedRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A fee rate calculated based on a proportion of the calculated interest accrued on the account. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "accrualFrequency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "The indicative frequency with which the fee is calculated on the account. Only applies if accruedRate is also present. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "currency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "The currency the fee will be charged in. Assumes AUD if absent"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the feeType specified. Whether mandatory or not is dependent on the value of feeType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this fee"
        },
        "discounts" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BankingAccountDiscount"
          }
        }
      },
      "x-conditional" : [ "additionalValue", "amount", "balanceRate", "transactionRate", "accruedRate" ]
    },
    "BankingAccountDiscount" : {
      "type" : "object",
      "required" : [ "description", "discountType" ],
      "properties" : {
        "description" : {
          "type" : "string",
          "description" : "Description of the discount"
        },
        "discountType" : {
          "type" : "string",
          "description" : "The type of discount. See the next section for an overview of valid values and their meaning",
          "enum" : [ "BALANCE", "DEPOSITS", "PAYMENTS", "FEE_CAP", "ELIGIBILITY_ONLY" ]
        },
        "amount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "Value of the discount. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "balanceRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A discount rate calculated based on a proportion of the balance. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "transactionRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A discount rate calculated based on a proportion of atransaction. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory"
        },
        "accruedRate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "A discount rate calculated based on a proportion of the calculated interest accrued on the account. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate and accruedRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the discountType specified. Whether mandatory or not is dependent on the value of discountType"
        },
        "eligibility" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BankingAccountDiscountEligibility"
          }
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the discount"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this discount"
        }
      },
      "x-conditional" : [ "amount", "balanceRate", "transactionRate", "accruedRate", "additionalValue" ]
    },
    "BankingAccountDiscountEligibility" : {
      "type" : "object",
      "required" : [ "discountEligibilityType" ],
      "properties" : {
        "discountEligibilityType" : {
          "type" : "string",
          "description" : "The type of the specific eligibility constraint for a discount",
          "enum" : [ "PENSION_RECIPIENT", "MIN_AGE", "MAX_AGE", "STAFF", "STUDENT", "EMPLOYMENT_STATUS", "RESIDENCY_STATUS", "OTHER" ]
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the discountEligibilityType specified. Whether mandatory or not is dependent on the value of discountEligibilityType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on this eligibility constraint"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this eligibility constraint"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingAccountDepositRate" : {
      "type" : "object",
      "required" : [ "depositRateType", "rate" ],
      "properties" : {
        "depositRateType" : {
          "type" : "string",
          "description" : "The type of rate (base, bonus, etc). See the next section for an overview of valid values and their meaning",
          "enum" : [ "FIXED", "BONUS", "BUNDLE_BONUS", "VARIABLE", "INTRODUCTORY" ]
        },
        "rate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "The rate to be applied"
        },
        "calculationFrequency" : {
          "type" : "string",
          "description" : "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "applicationFrequency" : {
          "type" : "string",
          "description" : "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Generic field containing additional information relevant to the depositRateType specified. Whether mandatory or not is dependent on the value of depositRateType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee"
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information on this fee"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "BankingAccountLendingRate" : {
      "type" : "object",
      "required" : [ "lendingRateType", "rate" ],
      "properties" : {
        "lendingRateType" : {
          "type" : "string",
          "description" : "The type of rate (fixed, variable, etc). See the next section for an overview of valid values and their meaning",
          "enum" : [ "FIXED", "VARIABLE", "INTRODUCTORY", "DISCOUNT", "PENALTY", "FLOATING", "MARKET_LINKED", "CASH_ADVANCE", "BUNDLE_DISCOUNT_FIXED", "BUNDLE_DISCOUNT_VARIABLE", "COMPARISON_FIXED", "COMPARISON_VARIABLE" ]
        },
        "rate" : {
          "type" : "string",
          "format" : "RateString",
          "description" : "The rate to be applied"
        },
        "calculationFrequency" : {
          "type" : "string",
          "description" : "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "applicationFrequency" : {
          "type" : "string",
          "description" : "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations)"
        },
        "paymentStructureType" : {
          "type" : "string",
          "description" : "When loan payments are due to be paid within each period. The investment benefit of earlier payments affect the rate that can be offered",
          "enum" : [ "IN_ARREARS", "IN_ADVANCE" ]
        },
        "additionalValue" : {
          "type" : "string",
          "description" : "Information relevant to the lendingRateType specified.  Whether mandatory or not is dependent on the Generic field containing additional information relevant to the lendingRateType specified. Whether mandatory or not is dependent on the value of lendingRateType"
        },
        "additionalInfo" : {
          "type" : "string",
          "description" : "Display text providing more information on the fee."
        },
        "additionalInfoUri" : {
          "type" : "string",
          "format" : "URIString",
          "description" : "Link to a web page with more information  on this fee"
        }
      },
      "x-conditional" : [ "additionalValue" ]
    },
    "ResponseBankingTransactionList" : {
      "type" : "object",
      "required" : [ "data", "links", "meta" ],
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/ResponseBankingTransactionList_data"
        },
        "links" : {
          "$ref" : "#/definitions/LinksPaginated"
        },
        "meta" : {
          "$ref" : "#/definitions/MetaPaginated"
        }
      },
      "example" : {
        "data" : {
          "transactions" : [ {
            "postingDateTime" : "postingDateTime",
            "amount" : "amount",
            "apcaNumber" : "apcaNumber",
            "isDetailAvailable" : true,
            "description" : "description",
            "type" : "FEE",
            "billerName" : "billerName",
            "executionDateTime" : "executionDateTime",
            "transactionId" : "transactionId",
            "merchantName" : "merchantName",
            "billerCode" : "billerCode",
            "reference" : "reference",
            "accountId" : "accountId",
            "merchantCategoryCode" : "merchantCategoryCode",
            "valueDateTime" : "valueDateTime",
            "currency" : "currency",
            "crn" : "crn",
            "status" : "PENDING"
          }, {
            "postingDateTime" : "postingDateTime",
            "amount" : "amount",
            "apcaNumber" : "apcaNumber",
            "isDetailAvailable" : true,
            "description" : "description",
            "type" : "FEE",
            "billerName" : "billerName",
            "executionDateTime" : "executionDateTime",
            "transactionId" : "transactionId",
            "merchantName" : "merchantName",
            "billerCode" : "billerCode",
            "reference" : "reference",
            "accountId" : "accountId",
            "merchantCategoryCode" : "merchantCategoryCode",
            "valueDateTime" : "valueDateTime",
            "currency" : "currency",
            "crn" : "crn",
            "status" : "PENDING"
          } ]
        },
        "meta" : {
          "totalRecords" : 0,
          "totalPages" : 6
        },
        "links" : {
          "next" : "next",
          "last" : "last",
          "prev" : "prev",
          "self" : "self",
          "first" : "first"
        }
      }
    },
    "BankingTransaction" : {
      "type" : "object",
      "required" : [ "accountId", "description", "isDetailAvailable", "reference", "status", "type" ],
      "properties" : {
        "accountId" : {
          "type" : "string",
          "format" : "ASCIIString",
          "description" : "A unique ID of the account adhering to the standards for ID permanence"
        },
        "transactionId" : {
          "type" : "string",
          "format" : "ASCIIString",
          "description" : "A unique ID of the transaction adhering to the standards for ID permanence. This is mandatory (through hashing if necessary) unless there are specific and justifiable technical reasons why a transaction cannot be uniquely identified for a particular account type"
        },
        "isDetailAvailable" : {
          "type" : "boolean",
          "description" : "True if extended information is available using the transaction detail end point. False if extended data is not available"
        },
        "type" : {
          "type" : "string",
          "description" : "The type of the transaction",
          "enum" : [ "FEE", "INTEREST_CHARGED", "INTEREST_PAID", "TRANSFER_OUTGOING", "TRANSFER_INCOMING", "PAYMENT", "OTHER" ]
        },
        "status" : {
          "type" : "string",
          "description" : "Status of the transaction whether pending or posted.  Note that there is currently no provision in the standards to gaurantee the ability to correlate a pending transaction with an associated posted transaction",
          "enum" : [ "PENDING", "POSTED" ]
        },
        "description" : {
          "type" : "string",
          "description" : "The transaction description as applied by the financial institution"
        },
        "postingDateTime" : {
          "type" : "string",
          "format" : "DateTimeString",
          "description" : "The time the transaction was posted. This field is mandatory if the transaction has status POSTED. This is the time that appears on a standard statement"
        },
        "valueDateTime" : {
          "type" : "string",
          "format" : "DateTimeString",
          "description" : "Date and time at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit transaction entry"
        },
        "executionDateTime" : {
          "type" : "string",
          "format" : "DateTimeString",
          "description" : "The time the transaction was executed by the originating customer, if available"
        },
        "amount" : {
          "type" : "string",
          "format" : "AmountString",
          "description" : "The value of the transaction. Negative values mean money was outgoing from the account"
        },
        "currency" : {
          "type" : "string",
          "format" : "CurrencyString",
          "description" : "The currency for the transaction amount. AUD assumed if not present"
        },
        "reference" : {
          "type" : "string",
          "description" : "The reference for the transaction provided by the originating institution.  Empty string if no data provided"
        },
        "merchantName" : {
          "type" : "string",
          "description" : "Name of the merchant for an outgoing payment to a merchant"
        },
        "merchantCategoryCode" : {
          "type" : "string",
          "description" : "The merchant category code (or MCC) for an outgoing payment to a merchant"
        },
        "billerCode" : {
          "type" : "string",
          "description" : "BPay Biller Code for the transaction (if available)"
        },
        "billerName" : {
          "type" : "string",
          "description" : "Name of the BPay biller for the transaction (if available)"
        },
        "crn" : {
          "type" : "string",
          "description" : "BPay CRN for the transaction (if available)"
        },
        "apcaNumber" : {
          "type" : "string",
          "description" : "6 Digit APCA number for the initiating institution"
        }
      },
      "example" : {
        "postingDateTime" : "postingDateTime",
        "amount" : "amount",
        "apcaNumber" : "apcaNumber",
        "isDetailAvailable" : true,
        "description" : "description",
        "type" : "FEE",
        "billerName" : "billerName",
        "executionDateTime" : "executionDateTime",
        "transactionId" : "transactionId",
        "merchantName" : "merchantName",
        "billerCode" : "billerCode",
        "reference" : "reference",
        "accountId" : "accountId",
        "merchantCategoryCode" : "merchantCategoryCode",
        "valueDateTime" : "valueDateTime",
        "currency" : "currency",
        "crn" : "crn",
        "status" : "PENDING"
      },
      "x-conditional" : [ "transactionId", "postingDateTime" ]
    },
    "ResponseBankingTransactionById" : {
      "type" : "object",
      "required" : [ "data", "links", "meta" ],
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/BankingTransactionDetail"
        },
        "links" : {
          "$ref" : "#/definitions/Links"
        },
        "meta" : {
          "$ref" : "#/definitions/Meta"
        }
      },
      "example" : {
        "data" : "",
        "meta" : { },
        "links" : {
          "self" : "self"
        }
      }
    },
    "BankingTransactionDetail" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BankingTransaction"
      }, {
        "type" : "object",
        "required" : [ "extendedData" ],
        "properties" : {
          "extendedData" : {
            "$ref" : "#/definitions/BankingTransactionDetail_extendedData"
          }
        }
      } ]
    },
    "ResponseBankingAccountsBalanceList" : {
      "type" : "object",
      "required" : [ "data", "links", "meta" ],
      "properties" : {
        "data" : {
          "$ref" : "#/definitions/ResponseBankingAccountsBalanceList_data"
        },
        "links" : {
          "$ref" : "#/definitions/LinksPaginated"
        },
        "meta" : {
          "$ref" : "#/definitions/MetaPaginated"
        }
      },
      "example" : {
        "data" : {
          "balances" : [ {
            "accountId" : "accountId",
            "purses" : [ {
              "amount" : "amount",
              "currency" : "currency"
            }, {
              "amount" : "amount",
              "currency" : "currency"
            } ],
            "lending" : {
              "amortisedLimit" : {
                "amount" : "amount",
                "currency" : "currency"
              },
              "creditLimit" : {
                "amount" : "amount",
                "currency" : "currency"
              },
              "accountBalance" : {
                "amount" : "amount",
                "currency" : "currency"
              },
              "availableBalance" : {
                "amount" : "amount",
                "currency" : "currency"
              }
            },
            "deposit" : {
              "currentBalance" : {
                "amount" : "amount",
                "currency" : "currency"
              },
              "availableBalance" : {
                "amount" : "amount",
                "currency" : "currency"
              }
            },
            "balanceUType" : "deposit"
          }, {
            "accountId" : "accountId",
            "purses" : [ {
              "amount" : "amount",
              "currency" : "currency"
            }, {
              "amount" : "amount",
              "currency" : "currency"
            } ],
            "lending" : {
              "amortisedLimit" : {
                "amount" : "amount",
                "currency" : "currency"
              },
              "creditLimit" : {
                "amount" : "amount",
                "currency" : "currency"
              },
              "accountBalance" : {
                "amount" : "amount",
                "currency" : "currency"
              },
              "availableBalance" : {
                "amount" : "amount",
                "currency" : "currency"
              }
            },
            "deposit" : {
              "currentBalance" : {
                "amount" : "amount",
                "currency" : "currency"
              },
              "availableBalance" : {
                "amount" : "amount",
                "currency" : "currency"
              }
            },
            "balanceUType" : "deposit"
          } ]
        },
        "meta" : {
          "totalRecords" : 0,
          "totalPages" : 6
        },
        "links" : {
          "next" : "next",
          "last" : "last",
          "prev" : "prev",
          "self" : "self",
          "first" : "first"
        }
      }
    },
    "BankingBalance" : {
      "type" : "object",
      "required" : [ "accountId", "balanceUType" ],
      "properties" : {
        "accountId" : {
          "type" : "string",
          "format" : "ASCIIString",
          "description" : "A unique ID of the account adhering to the standards for ID permanence"
        },
        "balanceUType" : {
          "type" : "string",
          "description" : "The type of balance object provided for the account",
[...]
